/Audio_dataset
.env
/dataset_cache
/lightning_logs
/tensorflow_model/dataset_cache
/tensorflow_model/crnn_command_model.keras
/tensorflow_model/model_metadata.json
/tensorflow_model/model.keras
Hello_9b953e7b-86a8-42f0-b625-1434fb15392b_hi.wav
Hello_faf0731e-dfb9-4cfc-8119-259a79b27e12_hi.wav
/__pycache__
/Augmented