/src/Audio_dataset
/src/.env
/src/dataset_cache
/src/lightning_logs
/tensorflow_model/dataset_cache
/tensorflow_model/crnn_command_model.keras
/tensorflow_model/model_metadata.json
/tensorflow_model/model.keras
/src/Hello_9b953e7b-86a8-42f0-b625-1434fb15392b_hi.wav
/src/Hello_faf0731e-dfb9-4cfc-8119-259a79b27e12_hi.wav
/src/__pycache__
/src/Augmented
/src/dataset_cache2
/Audio_dataset.zip
/src/Audio_dataset2
/src/mswc_cache
/src/Audios4testing
/src/SCRAPCODES
/src/audio_samples.npy
/src/AI_Audios_Augmented
/src/AI_audios_cache
/src/Artificial_plus_Manual